body{
    background-color: black;
    color: rgb(255, 0, 221);
    text-align: center;
    font-size: 30px;
}
p{
    margin-left: 5%;
    margin-right: 5%;
}
.Unreliable{
    background: linear-gradient(121deg, #FF0000 0%, #ff0000 100%), linear-gradient(140deg, #ff5454 27%, #223DCB 100%), linear-gradient(140deg, #4E9C51 0%, #001AFF 72%), linear-gradient(64deg, #6e00ff 0%, #0038FF 100%), radial-gradient(52% 101.79% at 50% 50%, #707300 0%, #ff0000 100%), radial-gradient(100% 100% at 70% 0%, #7A3B00 0%, #1DAC92 100%);
    background-blend-mode: overlay, overlay, difference, difference, color-burn, exclusion;
    
}
.Reliable{
    background: radial-gradient(65% 100% at 50% 0%, #00FF94 0%, rgba(0, 255, 148, 0.25) 100%), linear-gradient(230deg, #000000 25%, #170059 100%), linear-gradient(215deg, #FFEBB9 10%, #19004E 80%), radial-gradient(100% 245% at 100% 100%, #FFFFFF 0%, #000353 100%), linear-gradient(125deg, #1400FF 0%, #3A0000 100%), linear-gradient(225deg, #00F0FF 30%, #000B6F 45%, #00EBFC 45%, #001676 65%, #00E1F6 65%, #001676 85%, #00ECFD 85%, #001676 100%), linear-gradient(135deg, #00F0FF 0%, #000B6F 15%, #00EBFC 15%, #001676 35%, #00E1F6 35%, #001676 55%, #00ECFD 55%, #001676 100%);
background-blend-mode: soft-light, screen, overlay, overlay, difference, overlay, normal;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10% 10% 0% 10%;
}
.textbox {
    display: block;
    width : 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    border: 1px solid white;
    font-size: inherit;
    margin-bottom: 12px;
}
